<div id="game-control">
  <h2>Are you sure you want to exit the&nbsp;game?</h2>
  <div class="buttons">
    <button id="resume" class="button resume">Resume</button>
    <button id="exit" class="button exit">Exit</button>
  </div>

</div>
<div class="player-{{player.letter}}{{#if player.turn}} player-{{player.letter}}-turn{{/if}} scene">
  <div class="bgmountains"></div>
  <div class="floor"></div>
<div class="game"></div>
<div id="overlays">
  <a id="pause" href="#pause">l l</a>
  {{#unless settings.isproduction}}<span id="pin">#{{pin}}</span>{{/unless}}
  <span id="myscore">0</span>
</div>
<script>
var pin = {{pin}};
</script>
{{#unless settings.isproduction}}
<script src="/js/webrtc.io.js"></script>
<script src="/js/min.js"></script>
<script src="/js/bind.js"></script>
<script src="/js/xhr.js"></script>
<script src="/js/track.js"></script>
<script src="/js/three.js"></script>
<script src="/js/main.js"></script>
<script src="/js/ball.js"></script>
<script src="/js/game.js"></script>
<script src="/js/stats.min.js"></script>
<script>
var stats = new Stats();
stats.domElement.style.position = 'absolute';
stats.domElement.style.top = '0px';
document.body.appendChild(stats.domElement);
</script>
{{/unless}}
{{#if settings.isproduction}}
<script src="/js/build/headshots-{{settings.version}}.js"></script>
{{/if}}
<script>
var game = Bind({{{game}}}, {
  'me.score': '#myscore',
  'them.score': '#theirscore'
});
</script>
<video id="local" autoplay></video>
<video id="remote" autoplay></video>
