<div id="start" class="panel">
  <h2>Waiting for player to join</h2>

  <div class="pin">
    <div class="info">
      <small>PIN code</small>
      <p class="pincode">&hellip;</p>
    </div>
    <div class="streak"></div>
  </div>
</div>
<div id="join" class="panel">
  {{#if message}}
  <h2 class="notice">{{message}}</h2>
  {{/if}}
  <form action="#" method="post">
    <h2><label for="code">Enter PIN to join a game</label></h2>
    <input class="field" type="number" id="userpin" pattern="[0-9]{4}" placeholder="eg. 1234" name="pin" required>
    <div class="pin">
      <input class="button start" type="submit" id="joingame" value="Go!">
    </div>
  </form>
</div>
<div id="game-control" class="panel">
  <h2>Are you sure you want to exit the&nbsp;game?</h2>
  <div class="buttons">
    <button id="resume" class="button resume">Resume</button>
    <button id="exit" class="button exit">Exit</button>
  </div>
</div>
<div id="playing" class="panel">
  <div class="player-{{player.letter}}{{#if player.turn}} player-{{player.letter}}-turn{{/if}} scene">
    <div class="bgmountains"></div>
    <div class="floor"></div>
  <div class="game">
  <div id="videowrapper">
    <video id="local" autoplay></video>
    <video id="remote" autoplay></video>
  </div>
  </div>
  <div id="overlays">
    <a id="pause" href="#pause">l l</a>
    {{#unless settings.isproduction}}<span class="pincode">#{{pin}}</span>{{/unless}}
    <span id="myscore">0</span>
  </div>
</div>
<script>
var pin = {{pin}};
</script>
{{#unless settings.isproduction}}
<script src="/js/webrtc.io.js"></script>
<script src="/js/min.js"></script>
<script src="/js/bind.js"></script>
<script src="/js/xhr.js"></script>
<script src="/js/track.js"></script>
<script src="/js/three.js"></script>
<script src="/js/main.js"></script>
<script src="/js/ball.js"></script>
<script src="/js/game.js"></script>
<script src="/js/start.js"></script>
<script src="/js/stats.min.js"></script>
<script>
var stats = new Stats();
stats.domElement.style.position = 'absolute';
stats.domElement.style.top = '0px';
document.body.appendChild(stats.domElement);
</script>
{{/unless}}
{{#if settings.isproduction}}
<script src="/js/build/headshots-{{settings.version}}.js"></script>
{{/if}}